:root {
  --background-color: #f5f5f5;
  --primary-accent-color: #1e7c7f;
  --primary-dark-accent-color: #135b5e;
  --primary-light-accent-color: #69c4c7;
  --disabled-accent-color: darkslategray;
  --error-color: #c70101;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  box-sizing: border-box;
  max-width: 330px;
  padding: 40px 20px 5px 20px;
  margin: 0 auto 0 auto;
  flex-direction: column;
  background-color: var(--background-color);
}

a {
  color: var(--primary-accent-color);
}

h1, h2, .repo-input, .get-button, .output-text-div, footer {
  padding: 10px 15px;
  margin: auto;
  box-sizing: border-box;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h2 {
  font-size: 1.3rem;
  font-weight: 400;
}

.input-form {
  padding: 15px 0
}

.repo-input, .get-button {
  width: 100%;
  border: 2px solid var(--primary-accent-color);
  font-size: 1rem;
}

.repo-input {
  border-bottom-width: 1px;
}

.repo-input:read-only, .get-button:disabled {
  transition: filter 300ms, border-color 300ms, color 300ms;
  filter: grayscale(80%);
  border-color: var(--disabled-accent-color);
}

.repo-input:read-only {
  color: var(--disabled-accent-color);
  border-bottom: none;
}

.get-button {
  background-color: var(--primary-accent-color);
  color: white;
  border-top-width: 1px;
}

.get-button:hover:enabled {
  transition: background-color 250ms;
  background-color: var(--primary-dark-accent-color);
}

.get-button:active {
  transition: background-color 50ms;
  background-color: var(--primary-light-accent-color);
}

.output-text-div p {
  margin-top: 0;
}

.result-text {
  font-size: 1.4rem;
  color: var(--primary-accent-color);
}

footer {
  margin-top: auto;
  margin-bottom: 0;
  font-size: 0.85rem;
}

footer p {
  margin: 3px;
}

.error {
  color: var(--error-color);
}
